.form {
  background: rgb(250, 186, 122);
  height: 100%;
  display: flex;
  font-size: calc(22px + 2vmin);
  color: white;
  font-family: "Oswald";
  font-size: xx-large;
  font-weight: 600;
  -webkit-text-stroke: 0.8px black;
  padding: 3rem 0 3rem 0;
}
.Fcontent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  height: 30rem;
}
.tituloForm {
  font-family: "Lobster";
  margin-left: 2rem;
  margin-right: 8rem;
  -webkit-text-stroke: 1px black;
}
.back {
  background: rgb(250, 186, 122);
}


fieldset {
  border: none;
  padding-left: 0;
  margin-left: 0;
}

#lblDBXP {
  font-weight: bold;
}

#choicelist {
  border: 1px solid #d6d6d6;
  width: 100%;
  min-width: 200px;
  max-width: 500px;
  border-radius: 2px;
  display: none;
}

#selectedDBXP {
  border: 1px solid #d6d6d6;
  width: 100%;
  min-width: 200px;
  max-width: 500px;
  border-radius: 2px;
  height: 2.5em;
  background-color: #fff;
  position: relative;
  text-align: left;
}

#choicelist > div {
  padding: 10px 0px 10px 5px;
}

label {
  font-weight: bold;
}

input[type="text"] {
  margin: 0px 0px 20px 10px;
}

.fa-chevron-down {
  position: absolute;
  right: 1em;
  top: 0.9em;
  color: #a8a8a8;
  transition: transform .2s ease-out, color .2s ease-out;
  font-size: 0.85em;
}

.fa-chevron-down--open {
  transform: rotate(-180deg) translate(0, 2px);
  color: #404040;
}