/**Componente entero**/
.bar {
  width: 340px;
  height: 59px;
  background: rgb(255, 237, 189);
  border-radius: 50px;
  display: inline-flexbox;
  padding: 9px 0 0 9px;
}
/**Boton**/
.img {
  width: 42px;
  height: 40px;
  cursor: pointer;
  border-radius: 50px;
  border-style: solid;
  border-width: 0.2px;
  border-color: rgb(160, 158, 158);
}
.boton {
  width: 17px;
  height: 17px;
  background: transparent;
  border-style: none;
  margin-right: 35px;
}
.img:hover {
  box-shadow: 0.8px 0.5px 0.5px 0.5px rgb(201, 200, 199);
}
/**Input**/
.search {
  width: 240px;
  height: 40px;
  background: rgb(252, 245, 245);
  border-radius: 15px;
  border-style: solid;
  border-color: rgb(160, 158, 158);
  border-width: 0.1px;
  padding-left: 10px;
  margin-left: 10px;
}
.search:focus {
  box-shadow: 0.8px 0.5px 0.5px 0.5px rgb(201, 200, 199);
}
