html {
  background-color: rgb(238, 237, 237);
}
.app {
  display: flex;
  flex-direction: column;
}
.homepage {
  height: 100px;
  width: 100%;
  background: rgb(248, 158, 158);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
}
.searchbar {
  margin: 0 0 0 0;
}
.brand {
  font-size: 45px;
  font-family: "Lobster", cursive;
  color: white;
  -webkit-text-stroke: 0.9px black;
  text-decoration: none;
}
.brand:hover {
  text-shadow: 1px 1px grey;
}
.searchbar {
  margin-right: 20px;
}
/* BARRA LATERAL */
.sidebar {
  position: fixed;
  transform: translateX(-17rem);
  width: 17rem;
  background-color: rgb(243, 220, 193);
  height: 100%;
  transition: all 0.5s;
  margin-top: 100px;
}
.sidebar.open {
  transform: translateX(0);
}
.close-button {
  border-radius: 25px;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  font-size: 2rem;
  padding-top: 0;
  right: 0.5rem;
  top: 0.5rem;
  cursor: pointer;
  position: absolute;
}
.brand-button {
  font-size: 3rem;
  padding: 0.5rem;
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  margin-left: 20px;
  max-height: 58%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  -webkit-text-stroke: 0.8px black;
}
.brand-button:hover {
  text-shadow: 1.5px 1.5px grey;
}
