.header {
  height: 100px;
  width: 100%;
  background: rgb(250, 186, 122);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  box-shadow: 0.8px 0.5px 0.5px 0.5px rgb(43, 42, 42);
}
.searchbar {
  margin-right: 20px;
}
.brand {
  font-size: 50px;
  font-family: "Lobster", cursive;
  color: white;
  -webkit-text-stroke: 0.5px rgb(0, 0, 0);
  text-shadow: 0.5px 0.4px 1px rgb(14, 13, 13);
}
/* .brand:hover {
  text-shadow: 0.5px 0.4px 0.5px 0.5px rgb(83, 83, 83);
  color: white;
} */
.brandButton {
  font-size: 2.5rem;
  padding: 0.5rem;
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  margin-left: 20px;
  max-height: 58%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  text-shadow: 0.5px 0.4px 2px rgb(0, 0, 0);
}

.botoncart {
  position: absolute;
  margin-left: 19%;
  bottom: 26%;
}
/* .cartboton:hover {
  box-shadow: 0.8px 0.8px rgb(102, 102, 101);
} */
.cartboton {
  width: 45px;
  height: 45px;
  background: white;
  border-radius: 6px;
  border-style: none;
  box-shadow: 0.5px 0.4px 0.5px 0.5px rgb(83, 83, 83);
}
.cartbotonimg {
  width: 25px;
  height: 25px;
}
