.header {
  height: 100px;
  width: 100%;
  background: rgb(250, 186, 122);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
}
.searchbar {
  margin: 0 0 0 0;
  margin-right: 20px;
}
.brand {
  font-size: 45px;
  font-family: "Lobster", cursive;
  color: white;
  -webkit-text-stroke: 0.8px rgb(0, 0, 0);
}
.brand:hover {
  text-shadow: 1px 1px grey;
  color: white;
}
.brandButton:hover {
  text-shadow: 1px 1px grey;
}
.brandButton {
  font-size: 2.5rem;
  padding: 0.5rem;
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  margin-left: 20px;
  max-height: 58%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  -webkit-text-stroke: 0.8px black;
}

.cartboton {
  
  width: 40px; height: 40px;
  background: none;
  border: none;
  border-radius: 6px;
  
}
